<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Bean2 单例模式-->
   <!-- <bean class="com.k.scope.Bean2" id="bean2" scope="singleton"></bean>
    <bean class="com.k.scope.Bean1" id="bean1">
        <property name="bean2" ref="bean2"></property>
    </bean> -->

    <!--Bean2 多例模式-->
   <!-- <bean class="com.k.scope.Bean2" id="bean3" scope="prototype"></bean>
    <bean class="com.k.scope.Bean1" id="bean4">
        <property name="bean2" ref="bean3"></property>
    </bean>-->

     <!-- Bean1 单例模式 Bean2 单例模式-->
     <!--<bean class="com.k.scope.Bean2" id="bean02" scope="singleton"></bean>
     <bean class="com.k.scope.Bean1" scope="singleton" id="bean01" >
         <property name="bean2" ref="bean02"></property>
     </bean>-->

    <!-- Bean1 单例模式 Bean2 多例模式-->
    <!--<bean class="com.k.scope.Bean2" id="bean06" scope="singleton"></bean>-->
    <!--<bean class="com.k.scope.Bean1" scope="singleton" id="bean05" >-->
        <!--<property name="bean2" ref="bean06"></property>-->
    <!--</bean>-->

    <!-- Bean1 多例模式 Bean2 单例模式-->
   <!-- <bean class="com.k.scope.Bean2" id="bean08" scope="singleton"></bean>
    <bean class="com.k.scope.Bean1" scope="prototype" id="bean07" >
        <property name="bean2" ref="bean08"></property>
    </bean>-->

    <!--Bean1 多例模式 Bean2 多例模式-->
   <!-- <bean class="com.k.scope.Bean2" id="bean10" scope="prototype"></bean>
    <bean class="com.k.scope.Bean1" scope="prototype" id="bean09" >
        <property name="bean2" ref="bean10"></property>
    </bean>-->

    <!-- 解决Bean2为多例  Bean1为单例 时Bean2只创建一次    -->
    <!--<bean class="com.k.scope.Bean2" id="bean12" scope="prototype"></bean>-->
    <!--<bean class="com.k.scope.Bean3" scope="singleton" id="bean11" >-->
       <!--<lookup-method bean="bean12" name="createBean2"></lookup-method>-->
    <!--</bean>-->

    <!--web相关作用域-->
    <!--每个request请求都会创建一个单独的实例-->
    <bean class="com.k.scope.RequestController" id="requestController" scope="request"></bean>
    <!--每个session都会创建一个单独的实例-->
    <bean class="com.k.scope.SessionController" id="sessionController" scope="session"></bean>
    <!--每个servletContext都会创建一个单独的实例-->
    <bean class="com.k.scope.ApplicationController" id="applicationController" scope="application"></bean>


    <!--自定义作用域-->
    <bean class="com.k.scope.MyScope" id="myScope"></bean>
    <!--每个线程都会创建一个单独的实例-->
    <bean class="org.springframework.context.support.SimpleThreadScope" id="simpleThreadScope"></bean>
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="myScope" value-ref="myScope"></entry>
                <entry key="simpleThreadScope" value-ref="simpleThreadScope"></entry>
            </map>
        </property>
    </bean>
    <bean class="com.k.scope.Bean2" id="bean15" scope="myScope"></bean>
    <bean class="com.k.scope.Bean2" id="bean16" scope="simpleThreadScope"></bean>

</beans>